* {
  margin: 0;
  padding: 0;
}


.chunk1 {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  height: 732px;
}

.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 32px;
  font-weight: 700;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  color: #e5e7eb;
}
