* {
  margin: 0;
  padding: 0;
}


.chunk1 {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  height: 8%;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
  padding-left: 2%;
}

.header-links {
  padding-right: 2%;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  color: #e5e7eb;
}

.body {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 150px;
  flex-wrap: wrap;
}

.body1 {
  width: 50%;
}

.body2 {
  height: 70%;
  width: 40%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #888888ff;
  margin-left: 20px;
}

.main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 2px;
}


button {
  padding: 8px 32px;
  border-radius: 8px;
  font-weight: 600;
}

button#one {
  margin-top: 20px;
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
}

.chunk2 {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: 900;
  color: #1F2937;
  margin-top: 20px;
}

.boxes {
  display: flex;
  flex-grow: 1;
  padding: 50px 200px;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text {
  margin: 0 20px;
  color: #1F2937;
}

.ebox {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 16px;
  align-self: center;
  color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chunk3 {
  display: flex;
  height: 50%;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
}

.c {
  display: flex;
  flex-direction: column;
  margin: 0 150px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1F2937;
}

.quote#one {
  font-style: italic;
}

.quote#two {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 800;
}

.chunk4 {
  display: flex;
  padding: 100px 120px;
}

.bbox {
  display: flex;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 30px 140px;
  align-items: center;
  gap: 50px;
}

.bb {
  flex-shrink: 0;
}

.title2 {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

.text2 {
  color: #f9faf8;
}

button#two {
  color: #f9faf8;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
}

.chunk5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #1F2937;
  color: #f9faf8;
}
